---
import Base from "../../layouts/Base.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
---
<Base title="Croquis | Raynald">
  <Header />
  <main>
    <h2>Croquis</h2>
    <p>Galerie à venir.</p>
  </main>
  <Footer />
</Base>
